.rotating-image.rotate {
    transform: rotate(360deg);
}

.p-accordion-header-link {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(24px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeUp {
    animation: fadeUp 0.5s ease-out forwards;
}
